<div class="page-width" text-align:center">
  <div class="grid" style="text-align:center" >
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">      
   
     <div>
      <center> <img src="https://cdn.shopify.com/s/files/1/0565/7300/1922/files/Logo_Stamp_Blue.png?v=1685660636" 
          alt="LILIXIR natural skincare logo image" role="presentation" data-testid="ProfileImage"  filter="none" width = 75 height = 75 >
   </center> 
  {{ page.content }}
     </div>
 
      
  <div class="text-center btn btn--custom" >
       <a href={{ 'shopify.links.visit_store_link' | t}}  >{{ 'shopify.links.visit_store' | t }}</a>     
     </div>
 <div class="text-center">
     <div class="text-center btn btn--custom" >
        <a href={{ 'shopify.links.get_samples_link' | t }} >      {{ 'shopify.links.get_samples' | t}}        </a>      
 </div> 
  <div class="text-center btn btn--custom" >
       <a href={{ 'shopify.links.special_offers_link'| t}}  >  {{ 'shopify.links.special_offers' | t}}      </a>     
 </div> 
  <div class="text-center btn btn--custom" >
       <a href={{ 'shopify.links.free_guide_link' | t }}  >        {{ 'shopify.links.free_guide' | t}}       </a>     
     </div>  
  <div class="text-center btn btn--custom" >
       <a href={{ 'shopify.links.guasha_benefits_link' | t }}  >        {{ 'shopify.links.guasha_benefits' | t}}       </a>     
     </div>
     <div class="text-center btn btn--custom" >        
        <a href={{ 'shopify.links.take_quiz_link' |t }}  >      {{ 'shopify.links.take_quiz' | t}}      </a>     
 </div> 
  <div class="text-center btn btn--custom" >
       <a href={{ 'shopify.links.our_story_link' | t }}  >       {{ 'shopify.links.our_story' | t}}        </a>     
 </div> 
 </div> 
        <div class="text-center btn btn--custom" >
       <a href= {{ 'shopify.links.newsletter_link' | t }}  >        {{ 'shopify.links.newsletter' | t}}       </a>     
 </div> 
  <div class="text-center btn btn--custom" >        
        <a href={{ 'shopify.links.read_blog_link' | t}}  >      {{ 'shopify.links.read_blog' | t}}        </a>     
 </div> 
  <div class="text-center btn btn--custom" >        
        <a href={{ 'shopify.links.ambassador_link' | t}}  >  {{ 'shopify.links.ambassador' | t}}      </a>     
  </div> 
  <div class="text-center btn btn--custom" >        
        <a href={{ 'shopify.links.wholesale_link' | t}}  >       {{ 'shopify.links.wholesale' | t}}      </a>     
 </div> 

   <!--
   <div class="text-center btn btn--custom" >
       <a href={{ 'shopify.links.giveaway_link' | t }} >   {{ 'shopify.links.giveaway' | t}}        </a>     
 </div> 
   -->

      </div>
  </div>
</div>
  
{% section 'image-bar'%}    
{% section 'newsletter_blog'%}
{% section 'collection-list'%}
